* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}
* {
  font-size: 14px;
  font-weight: bold;
}
*:focus{outline-style:none;box-shadow:none;border-color:transparent}
body {
  margin: 0;
  padding: 0;
  background-image: url("../../images/svi-c-1.png");
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{color:#0077D6;text-decoration: none;}
a:hover{text-decoration: underline;}
a:visited{color:#0077D6}

div#wrap-rest{width: 100%;}

ul{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style: none;
  margin: 4px 4px 0 4px;
  padding: 0 0;
  width: auto;
}
li{color:#EBEFF5;border:1px solid #999999;border-radius:2px;list-style-type:none;display:inline-block;margin: 0 8px 0 0;padding:1px 2px 0;}
li:first-child{min-width:60px;}
ul:nth-child(even){background-color:#E0E7ED}

ul#anime>li:first-child{background-color: #0077D6;}
ul#edu>li:first-child{background-color: #89007B;}
ul#mail>li:first-child{background-color: #EEB600;}
ul#reddit>li:first-child{background-color: #FF5700;}
ul#security>li:first-child{background-color: #8e44ad;}
ul#social>li:first-child{background-color: #44bd32;}
ul#torrent>li:first-child{background-color: #34495e;}

.svg-inline--fa{vertical-align: middle;}
div#wrap-head{min-width:100%;max-width:100%;}
div#wrap-head>input{
  border-color:#dedede;
  border-style:solid;
  border-top-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px;
  font-weight: normal;
  margin: 0 0;
  padding: 2px 4px;
  width: 100%;
}
img.eye {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 32px;
  height: 64px;
  width: 64px;
  transition: transform 2s;
}/*
img.eye:hover {
  transform: rotate(1080deg);
}*/